@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  color: #333;
  font-family: "Stack Sans Headline", sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 64px;
  position: sticky;
  top: 0;
  background-image: url("imgs/WaveIllustration.webp");
  background-size: cover;
  background-position: top;
  z-index: 1000;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
}

h1 {
  font-size: 96px;
  margin: 0;
}

h2 {
  font-size: 64px;
  margin: 0;
}

h3 {
  font-size: 32px;
  margin: 0;
}

p,
li {
  max-width: 800px;
  font-size: 24px;
  margin: 0;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
ul {
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
  font-size: 24px;
  font-family: "Inter", sans-serif;
}

.projectPage nav,
.aboutPage nav,
.axPage nav {
  background-image: url("imgs/whitePaper.webp");
  background-size: cover;
  background-position: center;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 120px 64px;
  min-height: calc(100vh - 66px);
  /* background-color: #f5f5f5; */
  background-image: url("imgs/WaveIllustration.webp");
  background-size: cover;
  background-position: center;
}

.mission {
  display: flex;
  flex-direction: column;
  padding: 120px 64px;
  gap: 64px;
  background-image: url("imgs/recycled.webp");
  background-size: cover;
  background-position: center;
}

.values {
  display: flex;
  flex-direction: column;
  padding: 120px 64px;
  background-image: url("imgs/whitePaper.webp");
  background-size: cover;
  background-position: center;
  gap: 64px;
}

.renov-projects {
  display: flex;
  flex-direction: column;
  padding: 120px 64px;
  gap: 64px;
  background-image: url("imgs/recycled.webp");
  background-size: cover;
  background-position: center;
}

.urban-projects {
  display: flex;
  flex-direction: column;
  padding: 120px 64px;
  background-image: url("imgs/whitePaper.webp");
  background-size: cover;
  background-position: center;
  gap: 64px;
}

.card-container {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.value-card,
.project-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  /* background-color: #b9b9b9; */
}

.project-card img {
  width: 100%;
  height: auto;
}

.value-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content:space-between; */
  padding: 120px 64px;
  gap: 32px;
  background-image: url("imgs/brownPaper.webp");
  background-size: cover;
  background-position: center;
}

.col {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  gap: 8px;
  width:30%;
}
.col-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-top: 8px;
}

.about,
.ax {
  display: flex;
  flex-direction: column;
  padding: 120px 64px;
  gap: 64px;
  background-image: url("imgs/whitePaper.webp");
  background-size: cover;
  background-position: center;
}

.about-txt,
.ax-txt {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.projectHero {
  display: flex;
  flex-direction: column;
  padding: 120px 64px;
  gap: 64px;
  background-image: url("imgs/whitePaper.webp");
  background-size: cover;
  background-position: center;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  padding: 64px 0 96px;
  gap:48px;
}

.projectImgs {
  display: flex;
  flex-direction: column;
  padding: 64px;
  gap: 24px;
}

.project2Imgs {
  display: flex;
  /* flex-direction: column; */
  padding: 64px;
  gap: 16px;
}

.projectImgCol {
  display: flex;
  flex-direction: column;
  gap: 48px;
  flex: 1;
  align-items: center;
  /* width: 50%; */
}

.projectImgGrid {
  display: flex;
}

.projectImgGrid .projectImg {
  align-items: center;
  justify-content: center;
  flex: 1;
}

.project2Imgs .projectImg {
  width: 50%;
}

.projectImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.projectImg img {
  max-width: 100%;
  height: auto;
  mix-blend-mode: multiply;
}

.axPage h2 {
  font-size: 48px;
}

.ax-txt {
  gap: 24px;
}

@media (max-width: 768px) {
  /* nav {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  } */

  nav {
    padding: 16px 32px;
  }

  nav a {
    font-size: 18px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  p,a {
    font-size: 18px;
  }

  .hero,
  .mission,
  .values,
  .renov-projects,
  .urban-projects,
  .about,
  footer,
  .projectHero,
  .projectImgs,
  .project2Imgs {
    padding: 64px 32px;
  }

  .card-container {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
    /* align-items: center; */
  }
}
